
GSSAPIAuthentication no
StrictHostKeyChecking no

Host brunson.com
	User brunson
	ForwardX11 no

Host aws-*
	User sueric
	ForwardX11 no

Host *-aws-*
	User sueric
	ForwardX11 no

Host alpha
	User admin

Host lima
	User root
	Port 2222

Host l
	User root
	Port 2222

Host b
	User root

Host 192.168.1.2
	User root

Host git-codecommit.us-east-1.amazonaws.com
	User APKAI76KHYWFI3U7KZDA
	IdentityFile ~/.ssh/id_rsa_gitlab

Host *
	User sueric

