
GSSAPIAuthentication no
StrictHostKeyChecking no

Host svcs
	Hostname aws-nv-d-inteng-svcs01
	ForwardX11 no
	LocalForward 5000 localhost:5000

Host home
	Hostname brunson.dnsalias.net
	DynamicForward 1080
	User brunson
	Port 2222
	ForwardX11 no

Host *.qwest.net
	User brunson
	Port 2222
	ForwardX11 no

Host brunson.com
	User brunson
	ForwardX11 no

Host janitor
	User sueric
	Hostname aws-nv-p-S3-bucket-janitor

Host aws-*
	User sueric
	ForwardX11 no

Host *-aws-*
	User sueric
	ForwardX11 no

Host alpha*
	User admin

Host l
	Hostname lima.home
	User brunson

Host lima
	Hostname lima.home
	User brunson

Host git-codecommit.us-east-1.amazonaws.com
	User APKAI76KHYWFI3U7KZDA
	IdentityFile ~/.ssh/id_rsa_gitlab

Host *
	User sueric

